@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600&display=swap');

$borderColor: rgb(0, 109, 24);
$primaryColor: rgb(0, 109, 24);
$linkColor: rgb(39, 49, 82);

* {
  padding: 0px;
  margin: 0px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: $linkColor;
  box-sizing: border-box;
}

h4, h5 {
  padding: 0px;
  margin: 0px;
}

.header {
  float: left;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  background: $primaryColor;
  align-items: center;
  padding: 0px 200px;
}

.brand h4 {
  padding: 0px;
  margin: 0px;
  color: white;
  font-size: 26px;
  text-transform: uppercase;
}

.header p {
  padding: 0px;
  margin: 0px;
  color: white;
}

.header a {
  text-decoration: none;
  color: $linkColor;
  margin-right: 10px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  float: left;
  padding: 50px 200px;
}

.desc {
  width: 100%;
  float: left;
  padding-bottom: 40px;
}

.desc p {
  padding: 0px;
  margin: 0px;
  margin-bottom: 10px;
  float: left;
  width: 100%;
  color: $primaryColor;
}

.dataInsert {
  width: 100%;
  float: left;
  display: flex;
  justify-content: space-between;
}

.dataInsert input,
button {
  float: left;
  border: none !important;
  border-radius: 5px;
  outline: none;
  padding: 10px 20px;
  padding-top: 15px;
  color: rgb(0, 0, 0);
  background: rgb(241, 241, 241);
  box-shadow: 0px 0px 3px 0px rgb(134, 134, 134);
}

.inputDate {
  width: 18%;
}

.title {
  width: 42%;
}

.value {
  width: 20%;
}

.dataInsert button {
  width: 8%;
  background: $primaryColor;
  color: white;
  cursor: pointer;
  transition: .3s;
}

.dataInsert button:hover{
  opacity: .9;
}

.dbt {
  background: $linkColor !important;
  border: 2px solid $linkColor !important;
  color: white !important;
}

table {
  border-collapse: collapse;
  width: 100%;
  float: left;
}

tr {
  display: flex;
}

th {
  border-top: 1px solid $borderColor;
  border-bottom: 1px solid $borderColor;
  font-weight: 400;
}

th, td {
  padding: 10px 15px;
  padding-top: 14px;
  float: left;
  margin: 0px;
  width: 100%;
}

td {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.date {
  width: 20%;
  border-left: 1px solid $borderColor;
}

.date button {
  padding: 5px;
  font-size: 12px;
  border: none;
  float: right;
  color: rgb(255, 255, 255);
  background: $primaryColor;
  cursor: pointer;
}

.date button:hover {
  opacity: .9;
}

.description {
  width: 45%;
  border-left: 1px solid $borderColor;
  text-align: left;
}

.ext {
  width: 5%;
  border-left: 1px solid $borderColor;
}

.debit {
  width: 15%;
  border-left: 1px solid $borderColor;
  text-align: left !important;
  justify-content: left !important;
}

.credit {
  width: 15%;
  border-left: 1px solid $borderColor;
  border-right: 1px solid $borderColor;
  text-align: right !important;
  justify-content: right !important;
}

.footer {
  width: 100%;
  float: left;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $primaryColor;
}

.footer p {

  padding: 0px;
  margin: 0px;
  color: white;

  a {

    color: white;
    text-decoration: none;
    transition: .3s;

  }:hover{

    opacity: .7;

  }

}

@media screen and (max-width: 1279px) {

  * {
    font-size: 14px;
  }

  .header {
    padding: 0px 20px;
    height: 50px;
  }

  main {
    padding: 20px;
  }

}

@media screen and (max-width: 768px) {

  * {
    font-size: 12px;
  }

  .header {
    padding: 0px 10px;
    height: 50px;
  }

  .header h4 {
    font-size: 20px;
  }

  .header p {
    font-size: 12px;
  }

  .header a {
    font-size: 12px;
  }

  main {
    padding: 20px 10px;
  }

  .desc {
    padding-bottom: 10px;
  }

  .dataInsert {
    display: block;
  }

  .dataInsert input, button {
    padding: 12px !important;
    margin-bottom: 10px !important;
  }

  th, td {
    padding: 5px;
  }

  td {
    display: block;
  }

  .date button {
    padding: 3px 5px !important;
    width: 100% !important;
    font-size: 10px;
  }

  .description {
    width: 42%;
    border-left: 1px solid $borderColor;
  }

  .ext {
    width: 8%;
    border-left: 1px solid $borderColor;
  }

  .dataInsert input, button {
    padding: 5px;
    margin: 2px 0px;
  }

  .inputDate {
    width: 100%;
  }

  .title {
    width: 100%;
  }

  .value {
    width: 100%;
  }

  .dataInsert button {
    width: 100%;
  }

  .dbt {
    border: none !important;
  }

  .footer p {
    font-size: 12px;
  }

  .footer a {
    font-size: 12px;
  }

}
